<div class="sidebar">
  <hr>
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <ul class="list-inline pull-left">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/#/contact-us">Contact</a></li>
      </ul>
      <img src="{{asset 'images/logo-white2.png'}}" class="pull-right logo-sidebar"/>
    </div>
    <div class="spacer"></div>
    <div class="row">
      <form role="form" class="newsletter">
        <label>Subscribe for updates</label>
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="your email address"></input>
          <span class="input-group-btn">
            <input type="submit" class="btn btn-default" value="Sign up"></input>
          </span>
        </div>
      </form>
    </div>

    <div class="row text-center">
      <h3 class="glow">Want to know about our next seminar</h3>
      <a href="/" class="btn btn-primary btn-lg btn-border">Go to website</a>
    </div>
    <br><br><br>
    <div class="row text-center">
      <img src="{{asset 'images/ad_1.jpg'}}" class="img-responsive" />
    </div>
    <br>
    <div class="row text-center">
      <img src="{{asset 'images/ad_2.jpg'}}" class="img-responsive" />
    </div>
  </div>
</div>
